body { background-color: lightslategray;

}
article {background-color: white;

}
main {text-align: center;

}
main { color: black;
    width: 1000px;
    margin: 0 auto;
}
.sobre-mim {
    background-color: white;
    padding: 10px 60px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}
.detalhes {
    display: block;
    margin-top: 8px;
    border-radius: 15px;
    margin: 30px;
    padding: 15px;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}
figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    margin-bottom: 40px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sla {
    margin-bottom: 20px;
    font-size: 25px;
}
.principal {
    font-size: 15px;
    padding: 6px;
    -webkit-box-shadow: 5px 10px 7px -5px rgba(0,0,0,1);
    -moz-box-shadow: 5px 10px 7px -5px rgba(0,0,0,1);
    box-shadow: 5px 10px 7px -5px rgba(0,0,0,1);
}